/target/

.settings/

.classpath

.project

interactions-classifier.log

output.ttl

ruim-preprocessing/work/

ruim-preprocessing/medicament.ttl

script/1-ruim-preprocessing/output/

script/1-ruim-preprocessing/work/

script/2-input-preprocessing/work/

script/2-input-preprocessing/output/

script/2-input-preprocessing/sparql-anything-0.9.0.jar

script/2-input-preprocessing/data/medicament.ttl

script/1-ruim-preprocessing/input/terminologie-ref_interop_med-2023-12.rdf

script/3-interactions-classifier/input/patient-data.ttl

script/3-interactions-classifier/output/classification-output.ttl

script/3-interactions-classifier/output/

script/3-interactions-classifier/interactions-classifier-0.0.1-SNAPSHOT-onejar.jar

script/4-output-postprocessing/output/

script/4-output-postprocessing/input/merged-classification-output.ttl
